body {
  font-size: 50px;
  color: White;
  font-family: cartoon;
  text-align: center;
}
h1 {
  font-size: 20px;
  color: White;
  font-family: times;
  text-align: center;
}
.btn {
  color: Purple;
  background: #000;
  padding: 10px 40px;
  text-decoration: none;
  transition: white .5s;
}
.container {
  color: white;
  size: 1000px
  padding: 20px;
}
